<nav class="navbar navbar-expand-lg navbar-dark bg-success">

    <form class="form-inline">
        <button class="btn btn-primary" type="button">Main button</button>
      </form>
    <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text" class="form-control mr-sm-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">*</span>
            </div>
            <input type="text" class="form-control mr-sm-2" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon2">
          </div>
      </form>
    </nav>