<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="input-group">
    
      <a class="navbar-brand" href="/">
        <img src="/img/bookcase.png" alt="" width="30" height="24" class="d-inline-block align-top">
        ICEP
      </a>
    <a href="/admin/tabelas" class="btn btn-primary ml-2 me-2">Prateleiras</a>
    <a href="/admin/produtos" class="btn btn-primary ml-2 me-2" >Produtos</a>
    <a href="/admin/enderecos/1" class="btn btn-primary ml-2 me-2">Endereços</a>
</div>
  <form class="form-inline" method="POST" action="/autenticar">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      
      <input type="text" class="form-control mr-sm-2" name="login" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
      
      
        <span class="input-group-text" id="basic-addon2">*</span>
      
      <input type="password" class="form-control mr-sm-2" name="senha" placeholder="Senha" aria-label="Senha"
        aria-describedby="basic-addon2">
        <button class="btn btn-primary" type="submit">Entrar</button>
      </div>
        
    </div>
  </form>
  
</nav>


 