
<%- include('./partials/header.ejs')%>

<!--End of Tawk.to Script-->
    <body>
        <%- include('./partials/navbarp.ejs')%>
        <div class="container">
            <hr>
            <h1 class="bg-light">Bem Vindo!</h1>
            <br>
            <div class="row mb-2">
                <div class="col-md-2">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="mb-1 text-muted">
                                <a href="" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
    </body>

    <%- include('./partials/footer.ejs')%>

