
<%- include('./partials/header.ejs')%>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/603d85021c1c2a130d63cc62/1evo4vdpi';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <body>
        <%- include('./partials/navbarp.ejs')%>
        <div class="container">
            <hr>
            <h1 class="bg-light">Bem Vindo!</h1>
            <br>
            <div class="row mb-2">
                <div class="col-md-2">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="mb-1 text-muted">
                                <a href="" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
    </body>

    <%- include('./partials/footer.ejs')%>

