laxa
<div id="enderecamento">
    <table>
        <caption>Rua:<input type="text" placeholder="Digite a Rua do produto"></caption>
        <th>Coluna:<input type="text" placeholder="Informe a coluna"></th>
        <tr>Nivel: <input type="text" placeholder="Informe o Nivel do produto">
        <td>Sequencia: <input type="Em que sequencia o produto está?"></td>
        </tr>
    </table>
</div>